@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --black: #000;
  --white: #fff;
  --gray-700: #4b5563;

  --purple-400: #818cf8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;

  color: var(--black-);

  display: grid;
  align-items: center;
  justify-content: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 2.5rem;

  padding: 2rem 0;
}

header .options ul {
  list-style: none;

  display: flex;
  align-items: center;
  gap: 1rem;
}

header .options ul li a {
  text-decoration: none;
  font-size: 1rem;
  color: var(--black-);

  position: relative;
}

header .options ul li a::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--purple-400);
  position: absolute;
  left: 0;
  bottom: -4px;
}

header .options ul li a:hover::after {
  width: 100%;
  transition: width 300ms ease-in-out;
}

header .authentication {
  display: flex;
  align-items: center;
  gap: 1rem;
}

header .authentication a {
  text-decoration: none;
  color: var(--black-);
}

header .authentication .button-assinar-agora {
  border: 3px solid var(--purple-400);
  border-radius: 4px;
  padding: 8px 16px;
}

header .authentication .button-assinar-agora a {
  color: var(--purple-400);
  display: flex;
  align-items: center;
  gap: 2px;
}

header .authentication .button-assinar-agora:hover {
  background-color: var(--purple-400);
}

header .authentication .button-assinar-agora a:hover {
  color: var(--white);
  transition: 400ms ease-out;
}

main .main-section {
  display: grid;
  grid-template-columns: 560px 1fr;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;

  padding: 2rem 0;
}

main .main-section .column-left p {
  width: 480px;
  font-size: 2.5rem;
  font-weight: bold;
}

main .main-section .column-left span {
  font-size: 2.5rem;
  font-weight: bold;

  color: var(--purple-400);
}

main .main-section .column-left .buttons {
  display: flex;
  gap: 1.5rem;

  padding: 1rem 0;
}

main .main-section .column-left .buttons a:nth-child(1) {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: var(--black);

  padding: 12px 24px;
  border-radius: 100px;
  background-color: var(--purple-400);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

main .main-section .column-left .buttons a:nth-child(1) i {
  font-size: 18px;
}

main .main-section .column-left .buttons a {
  text-decoration: none;

  display: flex;
  align-items: center;
  gap: 4px;

  font-size: 18px;
  color: var(--purple-400);
  font-weight: 600;
}

main .main-section .column-right img {
  height: 400px;
}

main .cards {
  display: flex;
  align-items: center;
  gap: 20px;
}

main .cards .card-info {
  border: 3px solid var(--purple-400);
  border-radius: 4px;

  width: 248px;
  height: 77px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  color: var(--gray-700);

  padding: 0 8px;
}

main .cards .card-info i:nth-child(1) {
  font-size: 54px;
}

main .cards .card-info .info-course {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* gap: 4px; */
}
main .cards .card-info .info-course p {
  font-size: 14px;
}

main .cards .card-info .info-course p:last-child {
  font-size: 20px;
  font-weight: bold;
}

main .cards .card-info .info-course i {
  font-size: 16px;
  font-weight: 600;
}
